@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Space Grotesk", sans-serif;
}
input {
	padding: 10px;
	width: 70%;
	margin: 10px 0;
	outline: none;
}
button {
	width: 200px;
	cursor: pointer;
	padding: 10px 20px;
	outline: none;
	border: none;
	background-color: #6d9886;
}
.home,
.home__form,
.website__item,
.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.home__form > h2,
.home__form {
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
}
.home {
	min-height: 100vh;
	padding: 20px;
	width: 100%;
}
.website__container {
	width: 100%;
	min-height: 50vh;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 15px;
}
.website__item {
	width: 35%;
	margin: 10px;
	background-color: #f7f7f7;
	border-radius: 5px;
	padding: 30px;
	box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
}
.website__item > img {
	width: 70%;
	border-radius: 5px;
}
.website__item > h3 {
	margin: 10px 0;
}
.website__item > p {
	text-align: center;
	opacity: 0.7;
}
.loading {
	height: 100vh;
	background-color: #f2e7d5;
}
