@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Space Grotesk", sans-serif;
}
.app {
	width: 100%;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.app > h1 {
	margin-bottom: 30px;
	color: #2b3467;
}
form {
	display: flex;
	flex-direction: column;
	width: 80%;
}
textarea {
	padding: 20px;
	border: 1px solid #ddd;
	outline: none;
	border-radius: 5px;
	margin: 5px 0px;
	box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
}
button {
	margin-top: 15px;
	display: inline-block;
	width: 200px;
	padding: 20px;
	cursor: pointer;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: 18px;
	background-color: #f0dbdb;
}
.loading {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fefcf3;
}
.result__container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 30px;
}
.result__container > div {
	margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.image {
	width: 400px;
	height: 400px;
	margin-bottom: 15px;
}
